<form method="post" action="{{ path('redacted_passwordless_authenticate') }}">
    <input type="text" name="email" placeholder="Email Address" /><br/>
    <input type="submit" value="Login / Register" />
</form>