{% if error %}
    <div>{{ error.message }}</div>
{% endif %}
<form method="post" action="{{ path('redacted_passwordless_authenticate') }}">
    <input type="text" name="email" placeholder="Email Address" /> <input type="submit" value="Login / Register" />
</form>