Hello,<br />
<br />
You are receiving this email as you have requested to login at MYSITE.COM.<br />
<br />
Please <a href="{{ path('redacted_passwordless_verify', {token: token, uid: uid}) }}">click on this link</a> to login to our system.<br />
<br />
Please note that this link will only remain active for two minutes from the time of submitting the form.<br />
<br />
Thank you, see you soon!<br />
<br />