Hello,<br />
<br />
You are receiving this email as you have requested registration with MYSITE.COM.<br />
<br />
Please <a href="{{ path('redacted_passwordless_verify', {token: token}) }}">click on this link</a> to verify your email address.<br />
<br />
